{% extends 'base.html.twig' %}

{% block body %}

    <div class="">
        <a href="javascript:history.back()" class="btn btn-primary">Back</a>
    </div>
    <div class="row my-5">
        <div class="col-9">
            <div>Published: {{ post.createdAt|date('d/m/Y H:i') }}</div>
            <div class="fw-bold my-5 fs-2">{{ post.title }}</div>
            <div>{{ post.body | raw }}</div>

        </div>
        <div class="col-3">
            <h2>Author</h2>
            <div class="fw-bold">{{ post.author.name }}</div>
            <div>{{ post.author.email }}</div>
        </div>
    </div>

{% endblock %}


